
.dropdown-main {
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border: none;
    border-right: #dddddd solid 5px;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    background-color: #dddddd;
    color: gray;
    width: 100%;
    display: flex;
    justify-content: end;
}

.reorder-courses-dropdown {
    width: 150px;
    margin: 5px;
}