
.form-main {
    background-color: #dddddd;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #bbbbbb;
    border-radius: 10px;
    text-align: left;
    padding: 10px;
}

/* All children of the form */
.form-main > * {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* The labels of the form */
.form-main > label {
    color: black;
    font-weight: bold;
}

/* The input fields of the form */
.form-main > input {
    display: inline-block;
    padding: 5px;
}

/* The submit button of the form */
.form-button {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.rename-modal {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.rename-input {
    margin-top: 10px;
    width: 90%;
}

.caution-button {
    background-color: rgb(220, 0, 0);
    color: white;
}