
.form-main {
    background-color: #dddddd;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #bbbbbb;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

/* All children of the form */
.form-main * {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* The labels of the form */
.form-main label {
    color: black;
    font-weight: bold;
}

/* The input fields of the form */
.form-main input {
    display: inline-block;
    padding: 5px;
}

/* The submit button of the form */
.form-button {
    /* margin-top: 10px; */
    font-weight: bold;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    display: inline-block;
    color: white;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.rename-modal {
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}

.rename-input {
    margin-top: 10px;
    width: 90%;
}

.hole-label-input-container {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.hole-label-input {
    width: 10px;
    margin: 0.5%;
    margin-top: 10px;
    flex: 0 0 19%;
    box-sizing: border-box;
}

.caution-button {
    background-color: rgb(220, 0, 0);
    color: white;
}

.form-input-block {
    display: block;
    text-align: left;
}

.adjust-date-input {
    width: 220px;
}

/* This is for hiding the type="submit" inputs in forms.
    When forms have multiple text fields, enter doesn't submit
    the form unless there is an input type="submit"
*/
.hidden-submit {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}