@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
}

@layer components {

    .text-desc {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: gray;
    }

    /* This is for hiding the type="submit" inputs in forms.
        When forms have multiple text fields, enter doesn't submit
        the form unless there is an input type="submit"
    */
    .hidden-submit {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: white;
}

input, textarea {
    color: #666666;
}