
.round-box-red-bg {
    background-color: rgb(255, 210, 210);
}

.round-box-gray-bg {
    background-color: rgb(230, 230, 230);
}

.round-box-green-bg {
    background-color: rgb(210, 255, 210);
}

.round-score-container {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.round-box {
    flex: 0 0 auto;
    width: 11.1%;
    margin: 0px;
    margin-top: -1px;
}